.App {
  text-align: center;  
  

}
.Appbody {
 width: 30%;
 background-color: aqua;
 margin-left: 30%;

}
.lit{
background-color: white;
color: black;
}
.Dark{
  background-color: black;
  color: white;
}
.room{
  height: 100%;
}